body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}



.tweet {
    margin-left: 58px;

    .tweet-header {

        a {
            text-decoration: none;

            img.user-pic {
                float: left;
                margin-top: 3px;
                margin-left: -58px;
            }

            span.username {
                font-weight: bold;
            }

        }
    }

    .tweet-body {

    }

    .tweet-footer {
        font-size: 0.8em;
        font-weight: bold;
    }


}



.tiny {
    font-size: 0.4em;
}


@import "leaflet";
